body { 
  background: #c9f1f3; 
  width: 100%; 
  /*height: 950px; */
  height: 100%;
}

/* Ballon */
.balloon-wrapper {
  z-index: 2;
  position: relative;
  animation: floatUp 20s ease-in-out infinite;
}

@keyframes floatUp {
  0% {
    transform: translate(0px, 460px);
  }
  100% {
    transform: translate(0px);
  }
}
.balloon {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -35px;
  background: repeating-linear-gradient(
    45deg,
    rgb(123,11,8),
    rgb(123,11,8) 40px,
    rgb(235,225,201) 40px,
    rgb(235,225,201) 80px
  );
  box-shadow: inset 0 0 80px rgba(0, 0, 0, .7);
  transform: rotate(135deg);
  margin-bottom: 10px;
  border-radius: 150%;
  border-bottom-left-radius: 425%;
  border-bottom-right-radius: 425%;
  border-top-left-radius: 425%;
  border-top-radius: 220%;
  min-height: 400px;
  min-width: 400px;
  z-index: 1;
}

/* Ropes */
.ropes {
  display: contents;
}
.ropes-one, 
.ropes-two, 
.ropes-three {
  position: relative;
  padding: 6px;
}
.ropes-one { 
  width: 125px; 
}
.ropes-two { 
  width: 105px; 
}
.ropes-three { 
  width: 75px; 
}
.ropes-one:before, 
.ropes-two:before, 
.ropes-three:before {
  content: '';
  position: absolute;
  left: 0;
  height: 10px;
  width: 25px;
  background: #696969;
  transform: skew(0deg, 70deg);
}
.ropes-one:before { 
  top: -2px; 
}
.ropes-two:before { 
  top: -11px; 
}
.ropes-three:before { 
  top: -11px; 
}
.ropes-one:after, 
.ropes-two:after, 
.ropes-three:after {
  content: '';
  position: absolute;
  right: 0;
  height: 10px;
  width: 25px;
  background: #696969;
  transform: skew(0deg, -70deg);
}
.ropes-one:after { 
  top: -2; 
}
.ropes-two:after { 
  top: -11; 
}
.ropes-three:after { 
  top: -11; 
}

/* Basket */
.balloon-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.basket-top{
    background-color: #8B4513;
    box-shadow: 0px 5px 5px -1px rgba(104,52,14,.9);
    border-radius: 10px;
    min-height: 10px;
    width: 115px;
    z-index: 1;
}
.basket-body{
  display: flex;
  justify-content: space-between;
  background: #8B4513;
  background-image:
    linear-gradient(45deg, #b9783b 25%, transparent 25%), 
    linear-gradient(135deg, #b9783b 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #b9783b 75%),
    linear-gradient(135deg, transparent 75%, #b9783b 75%);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, .7);
  background-size:25px 25px; /* Must be a square */
  background-position:0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px; /* Must be half of one side of the square */
  border-radius: 0% 0% 20% 20%;
  min-height: 80px;
  width: 100px;
  z-index: 0;
}
.basket-weights {
  width: 17px;
  height: 17px;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
  margin-top: 7px;
  background: #ffffd2;
  box-shadow: 3px 1px 8px 0px rgba(0, 0, 0,.9);
}

/* Clouds */
.cloud-wrapper-one {
    position: relative;
    right: 0px;
    left: 50%;
    top: 60%;
    max-width: 50%;
}
.cloud-wrapper-two {
    position: relative;
    right: 10%;
    bottom: 70%;
    z-index: 0;
}
.cloud-wrapper-three {
    position: relative;
    right: 20%;
    bottom: 0;
}
.cloud-wrapper-one div { 
  display: flex; 
  z-index: 3; 
  background-color: rgb(255,255,255); 
  border-radius: 50% 50% 50% 50%; 
  position: absolute;
  margin: auto; 
}
.cloud-wrapper-two div { 
  display: flex; 
  z-index: 1; 
  background-color: rgb(255,255,255); 
  border-radius: 50% 50% 50% 50%; 
  position: absolute; 
  margin: auto; 
}
.cloud-wrapper-three div { 
  display: flex; 
  z-index: 2; 
  background-color: rgb(255,255,255); 
  border-radius: 50% 50% 50% 50%; 
  position: absolute; 
  margin: auto; 
}
.cloud-one { 
  width: 100px; 
  height: 100px; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
}
.cloud-two { 
  width: 130px; 
  height: 150px;
  top: 0; 
  bottom: 50px; 
  left: 0; 
  right: 100px; 
}
.cloud-three { 
  width: 80px; 
  height: 80px; 
  top: 0px; 
  bottom: 60px; 
  left: 0px; 
  right: 240px; 
}
.cloud-four { 
  width: 180px; 
  height: 100px; 
  top: 40px; 
  bottom: 0px; 
  left: 0px; 
  right: 170px; 
}