body {
  background: #c9f1f3;
  width: 1000px;
  display: flex;
  height: 950px;
  padding: 50px;
    
}

/* Ballon */


.balloon {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -35px;
  background: repeating-linear-gradient(
    45deg,
    rgb(123,11,8),
    rgb(123,11,8) 40px,
    rgb(235,225,201) 40px,
    rgb(235,225,201) 80px
  );
  transform: rotate(135deg);
  margin-bottom: 10px;
  border-radius: 150%;
  border-bottom-left-radius: 425%;
  border-bottom-right-radius: 425%;
  border-top-left-radius: 425%;
  border-top-radius: 220%;
  min-height: 400px;
  min-width: 400px;
  z-index: 1;
}

/*.ballon-part-one, .ballon-part-three, .ballon-part-five, .ballon-part-seven {*/
/*    background: rgb(123,11,8);*/
/*    width: 300px;*/
/*    height: 100px;*/
/*}*/

/*.ballon-part-two, .ballon-part-four, .ballon-part-six {*/
/*    background: rgb(235,225,201);*/
/*    width: 300px;*/
/*    height: 100px;*/
/*}*/

/* Ropes */

.ropes {
  display: contents;
}

.ropes-one, .ropes-two, .ropes-three {
  position: relative;
  padding: 6px;
}
.ropes-one { width: 125px; }
.ropes-two { width: 105px; }
.ropes-three { width: 75px; }

.ropes-one:before, .ropes-two:before, .ropes-three:before {
  content: '';
  position: absolute;
  left: 0;
  height: 10px;
  width: 25px;
  background: #696969;
  transform: skew(0deg, 70deg);
}
.ropes-one:before { top: -2px; }
.ropes-two:before { top: -11px; }
.ropes-three:before { top: -11px; }

.ropes-one:after, .ropes-two:after, .ropes-three:after {
  content: '';
  position: absolute;
  right: 0;
  height: 10px;
  width: 25px;
  background: #696969;
  transform: skew(0deg, -70deg);
}
.ropes-one:after { top: -2; }
.ropes-two:after { top: -11; }
.ropes-three:after { top: -11; }

/* Basket */

.wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.basket-top{
    background-color: #8B4513;
    box-shadow: 0px 5px 5px -1px rgba(104,52,14,.9);
    border-radius: 10px;
    min-height: 10px;
    width: 115px;
    z-index: 1;
}

.basket-body{
  display: flex;
  justify-content: space-between;
  background: #8B4513;
  background-image:
    linear-gradient(45deg, #b9783b 25%, transparent 25%), 
    linear-gradient(135deg, #b9783b 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #b9783b 75%),
    linear-gradient(135deg, transparent 75%, #b9783b 75%);
  background-size:25px 25px; /* Must be a square */
  background-position:0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px; /* Must be half of one side of the square */
  border-radius: 0% 0% 20% 20%;
  min-height: 80px;
  width: 100px;
  z-index: 0;
}

.basket-weights {
  width: 17px;
  height: 17px;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
  margin-top: 7px;
  background: #ffffd2;
  box-shadow: 3px 1px 8px 0px rgba(51, 25, 6,.9);
}